@import "tailwindcss";

@theme {
  --font-DM: "DM Sans", sans-serif;
  --font-google: "Google Sans", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-ubuntu: "Ubuntu", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}
